*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #b42dc0;
}
.areaPrincipal {/*Asi´se define una clase*/
    background-image: url("../img/fondo.jpg"); /* Agregar fondo de imagen al div*/
    background-repeat: no-repeat; /*Permitir o no permitir que se repita la imagen*/
    width: 100%;
    height: auto;
    opacity: 0.7; /*Opacidad de la imagen*/
    -webkit-backdrop-size: 100% 100%;
    /* Safari 3.0 */
    -moz-background-size: 100% 100%;
    /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: 100% 100%;
    /* Opera 9.5*/
    background-size: 100% 100%;
    /* Gecko 2.0 (Frirefox 4.0) and other CSS3-compliant browsers */
}
#encabezado {
        background: #48e633;
        height: 240px;
        text-align: center;
        background-image: url("../img/logo.jpg");
        background-repeat: no-repeat;
        background-size: 100px 100px;
}
.piePagina{
    width: 100%; /*ancho*/
    height:  100px; /*alto*/
    background: rgb(201, 204, 5); /*color de fondo*/
    color: white; /*Color de letra dentro de la clase*/
    bottom: 0; /*Espacio de separacion  parte inferior*/
    position: fixed;
    left: 0; /*Alineacion de los contenidos a la izquierda*/
}
#menu{ /*Identificador*/
    height: 40px;
    position: relative;
    top: 200px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d61232;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
}
#datos{
    width: 80%;
    background-color: turquoise;
    height: 600px;
    margin: auto;
    opacity: 1;
    color: #050f1b;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}